body{
    background-color: rgb(193, 199, 199);
    font-family: Impact;
}

header {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    background-color: white;
    box-shadow: 5px 5px 20px black;
    padding: 5px;
} 

#name{
    display: inline-block;
    font-size: 2em;
    margin-left: 15px;
}

nav{
    float: right;
}

#home{
    font-size: 2em;
    margin-right: 5px;
}

#about{
    font-size: 2em;
    margin-right: 5px;
}

#portfolio{
    font-size: 2em;
    margin-right: 15px;
}

main {
    text-align: center;
    margin-top: 75px;  
}

section {
    margin: 30px 200px;
    padding: 10px;
    box-shadow: 5px 5px 20px black;
    background-color: azure;
}

#dcphoto {
    width: 300px;
    border-radius: 100%;
    box-shadow: 5px 5px 20px black;
    margin-bottom: 10px;
}

#salesphoto {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin-right: 20px;
    box-shadow: 5px 5px 20px black;
    margin-bottom: 10px;
}

#constructionphoto {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    box-shadow: 5px 5px 20px black;
    margin-bottom: 10px;
}

#boxingphoto {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    box-shadow: 5px 5px 20px black;
    margin-bottom: 10px;
}

#bikephoto {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin-left: 20px;
    box-shadow: 5px 5px 20px black;
    margin-right: 20px;
    margin-bottom: 10px;
}

#dogphoto {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    box-shadow: 5px 5px 20px black;
    margin-bottom: 10px;
}

#emaillogo{
    margin-left: 5px;
}

Footer {
    text-align: center;
}